.search-input{
    padding-left: 55px;
    padding-bottom: 30px;
}

.input-form{
    display: flex;
    margin-bottom: 35px;
    width: 80%;
    justify-content: space-between;
}

.input-element{
    width: 90%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px rgba(196,196,196,1);
}

.submit-btn{
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    background-color: #4be0d0;
    border: none;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 4px 4px 8px 0px rgba(196,196,196,1);
    cursor: pointer;
    outline: none;
}

.submit-btn:hover{
    color: #4be0d0;
    background-color: white;
}

.results-label{
    display: flex;
    color: #5a6077;
    font-weight: bold;
    font-size: 1.2rem;
}

.search-icon{
    position: relative;
    right: 50px;
    top: 15px;
    color:#4be0d0;
}

@media only screen and (max-width: 600px) {
    .submit-btn{
        padding: 5px;
    }
    .search-icon{
        right: 30px;
    }
    .search-input{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
  }